{% extends "layout.html" %}

{% block title %}
    HomePage
{% endblock %}
{% block main %}
     <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
       <tbody>
            {% for key, value in stocks.items() %}

                <tr>
                    <td class="text-start">{{ key }}</td>
                    <td class="text-start">{{ value["name"] }}</td>
                    <td class="text-end">{{ value["quantity"] }}</td>
                    <td class="text-end">{{ value["price"]}}</td>
                    <td class="text-end">{{ value["total"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{cash}}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{total}}</td>
            </tr>
        </tfoot>
    </table>
        <form action="/" method="post">
                <div class="mb-3">
                    <input autocomplete="off" class="form-control mx-auto w-auto" min="0" name="deposit" placeholder="Deposit" type="number">
                </div>
                <button class="btn btn-primary" type="submit">Deposit</button>
        </form>
{% endblock %}